name: Publish

on:
  release:
    types: [published]

jobs:
  format-tags:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
      - name: Outputs
        shell: bash
        run: echo "${{ steps.meta.outputs.tags }}"